{% extends 'customerapp/base.html' %}

{% block content %}
    <!-- Topbar Start -->
    <div class="container-fluid">
        {% include 'customerapp/includes/topnav.html' %}
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid">
        <div class="row border-top px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
                    <h6 class="m-0">Categories</h6>
                    <i class="fa fa-angle-down text-dark"></i>
                </a>
                {% include 'customerapp/includes/navdrop.html' %}
            </div>
            <div class="col-lg-9">
                {% include 'customerapp/includes/navbar.html' %}
            </div>
        </div>
    </div>
    <!-- Navbar End -->


    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Shopping Cart</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Shopping Cart</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

{% if not cart_items %}
<h2 class="text-center"> Your cart is Empty</h2>
<div class="text-center mt-5">
<a class="btn btn-primary " href="{% url 'store' %}">Continue Shopping</a>
</div>
{% else %}
    <!-- Cart Start -->
    <div class="container-fluid pt-5 ">
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5 ">
                <table class="table table-bordered text-center mb-0">
                    <thead class="bg-secondary text-dark">
                        <tr>
                            <th>Products</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                    {% for cart_item in cart_items %}
                        <tr >
                        
                            <td class="align-middle"> <div class="float-left"> <img src="{{ cart_item.product.img1.url }}" alt="" style="width: 50px;">  {{ cart_item.product.product_name }} </div> </td>
                            <td class="align-middle">{{ cart_item.product.price }}</td>
                            <td class="align-middle">


                                    <div class="product-data">
                                        {% csrf_token %}
                                        <input type="hidden" class="product_id" name="product_id "value="{{ cart_item.product.id }}">
                                        <div class="input-group quantity mr-3" style="width: 130px;">
                                            <div class="input-group-btn">
                                                <button class="btn btn-primary  changeQuantity btn-minus decrement-btn" >
                                                <i class="fa fa-minus"></i>
                                                </button>
                                            </div>
                                            <input type="text" class="form-control bg-secondary text-center quantity-input" value="{{ cart_item.quantity }}">
                                            <div class="input-group-btn">
                                                <button class="btn btn-primary btn-plus  changeQuantity increment-btn">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>


                            </td>
                            <td class="align-middle">{{ cart_item.sub_total }}</td>
                            <td class="align-middle"><a href="#myModal" class="trigger-btn" data-toggle="modal"> <button class="btn btn-sm btn-primary"><i class="fa fa-times"></i></button></a></td>
                        </tr>
                        <div id="myModal" class="modal fade">
                            <div class="modal-dialog modal-confirm">
                                <div class="modal-content">
                                    <div class="modal-header flex-column">
                    
                                        <h4 class="modal-title w-100">Are you sure?</h4>	
                                        <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
                                    </div>
                                    <div class="modal-body">
                                        <p>Do you really want to  remove {{ cart_item.product.product_name }} from your cart? </p>
                                    </div>
                                    <div class="modal-footer justify-content-center">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        <a href="{% url 'delete_cart_item' cart_item.product.id %}"> <button class="btn btn-sm btn-primary">Yes</button></a>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        {% endfor %}
                    </tbody>
                </table>
                <!-- <div class="input-group-append mt-5 float-right">
                    <a href=""><button class="btn btn-primary">Clear All</button></a> 
                </div> -->
            </div>
           
            <div class="col-lg-4">
                <form class="mb-5" action="">
                    <div class="input-group">
                        <input type="text" class="form-control p-4" placeholder="Coupon Code">
                        <div class="input-group-append">
                            <button class="btn btn-primary">Apply Coupon</button>
                        </div>
                    </div>
                </form>
               

                
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Cart Summary</h4>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Subtotal</h6>
                            <h6 class="font-weight-medium">${{ total }}</h6>
                        </div>
                        <!-- <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium">$10</h6>
                        </div> -->
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h5 class="font-weight-bold">{{ total }}</h5>
                        </div>
                        <a href="{% url 'checkout' %}"><button class="btn btn-block btn-primary my-3 py-3">Proceed To Checkout</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Cart End -->

{% endif %}
    {% include 'customerapp/includes/footer.html' %}
    <!-- <script type="text/javascript">
        setTimeout(function(){
          location.reload(true);
         
        },1000);
    </script> -->
{% endblock %}